<nb-card size="medium">
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        Movie List
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary movie-btn" (click)="addMovie()">
          Add Movies
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="table table-bordered table-responsive-md table-hover">
        <thead>
        <tr>
          <th>SN</th>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Released Date</th>
          <th>Total Tickets</th>
          <th>Available Tickets</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies; let i=index ">
          <td>{{i+1}}</td>
          <td>{{movie.movieName}}</td>
          <td>{{movie.genre}}</td>
          <td>{{movie.releaseDate | date:'yyyy/MM/dd'}}</td>
          <td>{{movie.totalTickets}}</td>
          <td>{{movie.availableTickets}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
