<nb-layout>
  <nb-layout-header fixed>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <h2 class="app-header">Ticket Reservation System</h2>
    <nb-menu [items]="item" class="user-btn" (click)="logout()"></nb-menu>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" responsive start>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    copyright @2021
  </nb-layout-footer>
</nb-layout>
